<div class="formContainer ">
  <form [formGroup]="taskForm"  (ngSubmit)="onSubmit()">
    <div>
      <label class="label" for="title">Task:</label>
      <input class="input"  type="text" id="title"  formControlName='title'  required>
    </div>
    <div>
      <label class="label" for="description">Descriptions</label>
      <input class="input" type="text" id="description"  formControlName='description' autocomplete="off"  >
    </div>

    <button class="saveButton" [ngClass]="{'crimson-button': !isFormValid()}" type="submit" [disabled]="!taskForm.valid">Save</button>
  </form>
</div>
